<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>옷장추가</title>
</head>
<body>
<h3>옷장 페이지 압니다</h3>
<h2>Closet Input Form</h2>
<form id="closetForm">


    <label for="color">Color:</label>
    <input type="text" id="color" name="color"><br>
    <label for="clothes_id">clothes:</label>
    <input type="number" id="clothes_id" name="clothes_id"><br>
    <label for="user_id">user_id:</label>
    <input type="number" id="user_id" name="user_id"><br>


    <label for="notes">Notes:</label>
    <textarea id="notes" name="notes" rows="4" cols="50"></textarea><br>

    <!--    <input type="submit" value="Submit" onclick="submitForm()">-->
    <button type="button" onclick="submitForm()">제출</button>
</form>

<script>
    function submitForm() {

        var color = document.getElementById("color").value;
        var clothes_id = document.getElementById("clothes_id").value;
        var user_id = document.getElementById("user_id").value;
        var notes = document.getElementById("notes").value;


        var url = '/api/AddCloset'

        var data = {
            color     : color,
            clothes_id: clothes_id,
            user_id   : user_id,
            notes     : notes

        };


        fetch(url,
            {
                method : 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body   : JSON.stringify(data)
            }
        )
            .then(response => {

                    if (response.ok) {
                        console.log("  response.headers.get('content-type')", response.headers.get('content-type'))
                        return response.json().then(e => {
                                alert(e.message)
                            }
                        );
                    } else {
                        return response.json().then(errorResponse => {

                            throw new Error(errorResponse.error);
                        });
                    }
                }
            )
            .then(data => {
                console.log('API 응답 JSON:', data);
            })
            .catch(error => {

                alert(`서버 응답 오류: ${error.message}`);
            });


    }

</script>


</body>
</html>