<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>옷장추가</title>
</head>
<body>
<h3>옷장 페이지 압니다</h3>
<h2>Closet Input Form</h2>
<form id="closetForm">
    <label for="category">Category:</label>
    <select id="category" name="category" required >
        <option value="상의">상의</option>
        <option value="하의">하의</option>
        <option value="겉옷">것옽</option>
        <option value="양말">양말</option>

    </select>

    <label for="color">Color:</label>

    <input type="text" id="color" name="color" ><br>
    <label for="clothes_id">clothes:</label>
    <input type="number" id="clothes_id" name="clothes_id"><br>
    <label for="user_id">user_id:</label>
    <input type="number" id="user_id" name="user_id"><br>


    <label for="size">Size:</label>
    <!-- Enum 선택을 위한 셀렉트 박스 예시 -->
    <select id="size" name="size" required>
        <option value="SMALL">Small</option>
        <option value="MEDIUM">Medium</option>
        <option value="LARGE">Large</option>
    </select><br>

    <label for="brand">Brand:</label>
    <input type="text" id="brand" name="brand" required><br>

    <label for="season">Season:</label>
    <select id="season" name="season" required>
        <option value="봄">봄</option>
        <option value="여름">여름</option>
        <option value="가을">가을</option>
        <option value="겨울">겨울</option>
    </select><br>

    <label for="purchaseDate">Purchase Date:</label>
    <input type="date" id="purchaseDate" name="purchaseDate" required><br>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required><br>

    <label for="notes">Notes:</label>
    <textarea id="notes" name="notes" rows="4" cols="50" ></textarea><br>

<!--    <input type="submit" value="Submit" onclick="submitForm()">-->
    <button type="button"  onclick="submitForm()">제출</button>
</form>

<script>
    function submitForm() {
        var category = document.getElementById("category").value;
        var color = document.getElementById("color").value;

        var clothes_id = document.getElementById("clothes_id").value;
        var user_id = document.getElementById("user_id").value;
        var notes = document.getElementById("notes").value;



        var url ='/api/AddCloset'

        var data ={

            category: category,
            color:color ,

            clothes_id :clothes_id,
            user_id :user_id,

            notes: notes

        };


        fetch(url,
            {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }
        )

            .then(response => {

                    if(response.ok){
                      console.log("  response.headers.get('content-type')",  response.headers.get('content-type'))
                        return response.json().then( e=>{
                            alert(e.message)
                            }

                        );
                    } else {
                        return response.json().then(errorResponse => {

                            throw new Error(errorResponse.error);
                        });
                    }
                }


            )
            .then(data => {
                console.log('API 응답 JSON:', data);
            })
            .catch(error => {

                alert(`서버 응답 오류: ${error.message}`);
            });




    }

</script>


</body>
</html>


