<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>옷장추가</title>
</head>
<body>
<h3>옷장 페이지 압니다</h3>
<h2>Closet Input Form</h2>
<form id="closetForm">


    <label for="color">Color:</label>
    <input type="text" id="color" name="color" required><br>
    <label for="clothes_id">clothes:</label>
    <input type="number" id="clothes_id" name="clothes_id"><br>
    <label for="user_id">user_id:</label>
    <input type="number" id="user_id" name="user_id"><br>



    <label for="notes">Notes:</label>
    <textarea id="notes" name="notes" rows="4" cols="50" ></textarea><br>

    <input type="submit" value="Submit" onclick="submitForm()">
</form>

<script>
    function submitForm() {

        var color = document.getElementById("color").value;
        var notes = document.getElementById("notes").value;
        var clothes_id = document.getElementById("clothes_id").value;
        var user_id = document.getElementById("user_id").value;


        var url ='/api/AddCloset'

        var data ={
            color:color ,
            notes: notes ,
            clothes_id :clothes_id,
            user_id :user_id

        };


        fetch(url,
            {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }
        )
            .then(response =>



                {

                    console.log("response", response)
                    if(response.ok){
                        return response.json();
                    } else{

                        throw new Error(`서버 응답 오류${response.status}`)
                    }
                }


            )
            .then(data =>{
                console.log("data=====" , data)

                // 받은 데이터에 따라 처리
                if (data === true) {
                    console.log("데이터가 true입니다.");
                } else if (data === false) {
                    console.log("데이터가 false입니다.");
                } else {
                    console.log("다른 형식의 데이터입니다.");
                }


            })
            .catch(error => {
                console.error('데이터 불러오기 실패:', error);
            });




    }

</script>


</body>
</html>


