<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>


<h3>스프링부트 실습</h3>
<button id="getDataButton">UserData 가져오기</button>
<div id="dataContainer"></div>
<script>
    $(document).ready(function () {
        $('#getDataButton').click(function () {
            window.location.href = "/users/showUser";
        });
        
    })
</script>

<a href="/index">hello</a>
<a href="/sign">회원가입</a>
<a href="/login">로그인</a>
<a href="/closet">옷장 추가</a>

</body>
</html>