<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">

</head>
<body>
<h3>로그인</h3>


<form th:object="${loginForm}" th:action="@{/login}" method="post">
    email : <input type="text" th:field="${loginForm.email}"/>
    <span th:if="${#fields.hasErrors('email')}" th:errors="${loginForm.email}" style="color: red;"></span><br>
    password : <input type="password" th:field="${loginForm.password}"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="${loginForm.password}" style="color: red;"></span><br>

    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" style="color: red;" th:text="${err}">전체 오류
            메시지</p>
    </div>

    <button type="button" onclick="submitForm()">Submit</button>
</form>


<div id="dataContainer"></div>
<script>
    function submitForm() {
        var email = document.querySelector("input[name='email']").value;
        var password = document.querySelector("input[name='password']").value;

        var url = "/login";

        fetch(url, {
            method : 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body   : JSON.stringify({
                email   : email,
                password: password
            })
        })
            .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error(`서버 응답 오류${response.status}`)
                    }
                }
            )
            .then(data => {
                console.log("data==", data)

                // //html로 표시
                // const displayElement = document.createElement('div');
                // displayElement.innerHTML = `Name: ${data.name}`;
                // document.body.appendChild(displayElement);

                // 받은 데이터에 따라 처리
                if (data) {

                    console.log("데이터가 true입니다.");
                    window.location.href = "http://localhost:8080/"
                } else if (data === false) {
                    console.log("데이터가 false입니다.");
                } else {
                    console.log("다른 형식의 데이터입니다.");
                }


            })
            .catch(error => {
                console.error('데이터 불러오기 실패:', error);
            });

    }

</script>


</body>
</html>