<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON API Example</title>
</head>
<body>
<div id="response-container"></div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const responseContainer = document.getElementById('response-container');

        // API 요청
        fetch('/users')
            .then(response => response.json())
            .then(users => {
                // JSON 데이터를 HTML에 표시
                users.forEach(user => {
                    responseContainer.innerHTML += `
                            <p>Name: ${user.name}</p>
                            <p>Email: ${user.email}</p>
                            <p>Password: ${user.password}</p>
                            <hr>
                        `;
                });
            })
            .catch(error => {
                console.error('API 요청 중 오류 발생:', error);
                responseContainer.innerHTML = 'API 요청 중 오류 발생';
            });
    });
</script>
</body>
</html>
